.random_quote {
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    border-radius: 15px;
    padding: 15px 6px;
    width: 80%;
    height: auto;
    position: relative;
    text-align: left;

    display: flex;
    align-items: center;

}

.random_quote>h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: 900;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, rgb(72, 72, 212));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* text-shadow: 1px 1px 3px rgb(233, 114, 114); */
}

.random_quote>h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: black;
    position: absolute;
    right: 15px;
    bottom: -30px;
}