@media only screen and (min-width : 768px) {
    .top_nav {
        border-bottom: 6px solid gray;
        padding: 9px 0;
        background-color: #06038D;
        box-shadow: 0 0 0 blue;
    }

    .nav_elements {
        border: 3px solid transparent;
        border-radius: 9px;
        width: 60%;
        padding: 0 9px;
    }

    .logo_techset {
        font-family: "Lexend", sans-serif;
        font-size: 21px;
        font-weight: 900;
        color: snow;
        text-shadow: 1px 1px 1px 3px;
    }

    .logo_code {
        font-family: "Lexend", sans-serif;
        font-size: 21px;
        font-weight: 900;
        color: green;
    }

    .nav_icon {
        display: none;
    }

    .github_n_nav_icon {
        width: 50%;
        color: snow;
    }

    .desktop_nav_elements {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .desktop_nav_elements>a {
        color: snow;
        font-family: "Kanit", sans-serif;
        font-size: 15px;
        font-weight: 600;
        line-height: 36px;
    }

    .desktop_nav_elements>a:hover {
        color: green;
    }
}