.user_auth {
    border: 3px solid transparent;
}

.user_auth>.register {
    border: 3px solid transparent;
}

.user_auth>.register>form {
    border: 2px solid transparent;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user_auth>.register>form>input {
    border: 1px solid gray;
    border-radius: 9px;
    margin: 9px auto;
    padding: 0 9px;
    width: 270px;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 1px 1px 3px rgb(196, 196, 252);
}

.quali {
    border: 1px solid gray;
    border-radius: 9px;
    margin: 9px auto;
    padding: 0 9px;
    width: 270px;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    box-shadow: 1px 1px 3px rgb(196, 196, 252);
    background-color: snow;
}

.user_auth>.register>form>.eye_invisible {
    position: absolute;
    bottom: 150px;
    right: 45px;
}

.user_auth>.register>form>.confirm_pass_eye_invisible {
    position: absolute;
    bottom: 87px;
    right: 45px;
}

.user_auth>.register>form>.log_in_eye_invisible {
    position: absolute;
    bottom: 90px;
    right: 45px;
}

.user_auth>.register>form>.confirm_pass_eye_invisible {
    position: absolute;
    bottom: 90px;
    right: 45px;
}


.form_buttons button {
    /* border: 1px solid black; */
    border-radius: 9px;
    margin: 9px auto;
    padding: 0 9px;
    width: 270px;
    height: 45px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 1px 1px 3px rgb(177, 177, 255);
}